@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;400;600;700;800;900&family=Roboto&display=swap');

* {
  box-sizing: border-box; 
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Martel', serif;
 }

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "item-1 item-2";
}
.menu {
  position: absolute;
  padding: 20px 0 0 100px;
  background-color: #C29590;
}
ul {
  padding-left: 0;
}
li {
  display: inline-block;
  padding: 10px 25px 0 0;
}
li a {
  color: #ffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 200;
}
a:hover {
  opacity: 0.6;
}
.item-1 {
  grid-area: item-1;
  background-color: #C29590;
  padding: 385px 100px 0 100px;
}
p {
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #ffff;
}
h1 {
  color: #ffff;
  font-size: 95px;
  font-weight: 200;
  margin-top: 50px;
  line-height: 95px;
  padding-bottom: 20px;
}
.item-2 {
  grid-area: item-2;  
  padding: 320px 60px 0 60px;
  width: 100%;
  background: url("./1.jpg") center no-repeat;
  background-size: cover;
  text-align: center; 
}
button {
  border: 1px solid #CA756B;
  padding: 10px 20px;
  background-color: #ffff;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-align: center;
  transition: .4s;
  margin-top: 50px;
  margin-bottom: 50px;
}
button:hover {
  background-color: #CA756B;
}
button a {
  color: #CA756B;
  padding-right: 0;
}
button:hover a {
  color: white;
}
button a:hover {
  color: white;
}
button:focus {
  outline: none;
}
h2 {
  letter-spacing: 2px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #CA756B;
  text-align: left;
}
.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.ceremony, .information {
  padding: 250px 100px 100px 100px;
  position: relative;
  text-align: center;
}
.ceremony h3 {
  font-size: 18px;
  font-weight: 200;
  color: #464C67;
  padding-top: 100px;
  padding-bottom: 40px;
}
.information h2 {
  padding-bottom: 40px;
  text-align: right;
}
.ceremony p, .information p {
  font-size: 14px;
  font-weight: 200;
  color: #464C67;
  padding: 10px 280px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 24px;
  font-family: 'Martel', serif;
}
.ceremony-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "item-3 item-4 item-5";
  height: 400px;
  margin-top: 45px;
}
.item-3 {
  grid-area: item-3;
  background: url("./3.jpg") center no-repeat;
  background-size: cover;
  margin-right: 40px;
}
.item-4 {
  grid-area: item-4;
  background: url("./4.jpeg") center no-repeat;
  background-size: cover;
  margin-right: 40px;
}
.item-5 {
  grid-area: item-5;
  background: url("./5.jpg") center no-repeat;
  background-size: cover;
  margin-right: 40px;
}
.circle {
  background-color: #BDC8C0;
  opacity: 0.2;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 15%;
  right: -10%;
  z-index: -1;
  border-radius: 50%;
}
.circle2{
  left: -10%;
}
.contact {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "item-8 item-9";
}
.contact li {
  padding: 0;
}
.item-8 {
  grid-area: item-8;
}
.item-9 {
  grid-area: item-9;
}
h3 {
  color: #ffff;
  letter-spacing: 2px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h4 {
  color: #ffff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #ffff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-right: 16px;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
  opacity: 0.3;
}
i {
  color: #ffff;
  padding-right: 5px;
}


/* JUMBOTRON */
.jumbotron {
  background-color: white;
  padding: 0;
  margin: 0; 
}
.jumbotron .jumbotron-container {
  grid-template-columns: 50% 50%;
  grid-template-areas: "item-6 item-7";
  display: grid;
}
.jumbotron .jumbotron-container .item-6 {
  grid-area: item-6;
  background: url("./9.jpg") center no-repeat;
  background-size: cover;
  height: 700px;
}
.jumbotron .jumbotron-container .item-7 {
  grid-area: item-7;
}
.jumbotron .carousel-inner {
  background: #464C67;
  height: 700px; 
}
.jumbotron .container-pad {
  padding: 0; 
}
.jumbotron h2 {
  font-size: 23px;
  color: white;
  font-family: 'Cardo';
  font-style: italic;
  margin-top: 200px;
  margin-left: 85px;
  margin-right: 100px;
  letter-spacing: 2px;
  line-height: 30px;
}
.jumbotron p {
  font-size: 13px;
  color: #2d3033;
  font-family: 'Raleway';
  font-weight: 200;
  color: white;
  margin-left: 85px;
  margin-right: 100px;
  margin-top: 28px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  letter-spacing: 2px; 
}
.jumbotron ol {
  margin-bottom: 0;
  bottom: 60px; 
}
.jumbotron .carousel-indicators {
  left: 40%; 
}

footer {
  padding: 250px 100px 100px 100px;
  color: #ffff;
  padding: 50px;
  text-align: center;
  background-color: #C29590;
}
footer p {
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 50px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  line-height: 30px;
}
footer p span {
  font-size: 20px;
}

/* MIN-WIDTH: 768PX AND MAX-WIDTH: 1199PX; */
@media(min-width: 768px) and (max-width: 1199px) {
  .menu {
    padding: 20px 0 0 50px;
  }
  .menu li {
    padding: 10px 0;
  }
  li a {
    font-size: 12px;
  }
  h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .item-1 {
    padding: 385px 100px 0 50px;
  }
  .ceremony, .information {
    padding: 120px 50px 100px 50px;
  }
  .ceremony-container {
    height: 300px;
  }
  .ceremony p, .information p {
    font-size: 18px;
    padding: 10px 50px;
  }
  .jumbotron h2 {
    font-size: 18px;
    margin-top: 145px;
  }
}

/* MAX-WIDTH: 767PX; */
@media (max-width: 767px) {
  .hero {
    display: block;
}
  .menu {
    padding: 0 20px;
    text-align: center;
  }
  li {
    padding: 20px 0;
  }
  li a {
    font-size: 12px;
  }
  .item-1 {
    padding: 150px 20px 0 20px;
  }
  h1 {
    font-size: 75px;
    padding-bottom: 35px;
    margin-bottom: 0;
    line-height: 75px;
  }
  .icon {
    bottom: 0;
    transform: translate(-50%, 20%);
  }
  .ceremony {
    padding: 100px 20px 50px 20px;
  }
  .ceremony-container {
    height: 150px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "item-3 item-4";
  }
  .item-3, .item-4 {
    margin-right: 20px;
  }
  .item-5 {
    display: none;
  }
  .ceremony h3 {
    font-size: 14px;
    padding-top: 50px;
  }
  .ceremony p, .information p {
    padding: 10px 20px;
    font-size: 12px;
  }
  .information {
    padding: 100px 20px 50px 20px;
  }
  .item-6 {
    height: 400px;
  }
  .jumbotron .jumbotron-container {
    display: block;
  }
  .jumbotron .carousel-inner {
    height: 500px;
  }
  .jumbotron h2 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 100px;
  }
  .jumbotron .carousel-indicators {
    left: 50%;
  }
  .carousel-indicators li {
    padding: 0 10px;
  }
  .contact {
    display: block;
  }
  .contact ul {
    margin-bottom: 30px;
  }
}